*{
   padding: 0;
   margin: 0;
   font-family: serif; 
}
#container{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    line-height: 2;
}
.text{
    text-align: right;
}
.box{
    width: 100%;
    height: 30px;
    background-color: darkturquoise;
    border-radius: 5px;
    border: hidden;
}
.input{
    width: 100%;
    height: 30px;
    
}
